root = true

[*.cs]
dotnet_diagnostic.CA1515.severity = none
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1873.severity = none
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA1802.severity = none
dotnet_diagnostic.CA1823.severity = none
dotnet_diagnostic.CA1859.severity = none
dotnet_diagnostic.CA1861.severity = none
dotnet_diagnostic.CA2000.severity = none
dotnet_diagnostic.CA2227.severity = none
dotnet_diagnostic.CA5394.severity = none
dotnet_diagnostic.CA1054.severity = none
dotnet_diagnostic.CA1056.severity = none
dotnet_diagnostic.CA5391.severity = none