<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="proget" value="https://packages.neillans.co.uk/nuget/dotNet/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="proget">
      <package pattern="Neillans.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>